.container .row .test .tgl {
    font-size: 12px;
}

.container .row .test .kepada {
    margin-left: 769px;
    font-size: 12px;
}

.container .row .test .kpl {
    margin-left: 748px;
    font-size: 12px;
}

.container .row .test .bold {
    font-size: 9px;
}

.container .row .test .tmpt {
    margin-left: 769px;
    font-size: 12px;
    padding-top: 0;
}

.container .row .test .asal {
    margin-left: 777px;
    font-size: 12px;
}

.container .row .test .formulir {
    font-size: 14px;
}
